/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

storage/app/public/8EQO4Dxw4Fxs2oEnZuuCObW0Fnp8jIccAxPbSKec\.xml
