.login-page, .register-page {
    background: linear-gradient(#aeb1b6,#ffffff);
}

h1 , h2 {

    text-align: center;

}

.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
}

.box.box-solid.box-warning {
    border: 1px solid #00c0ef;
}

textarea {

    max-height: 150px;
    max-width: 800px;

}

#barra {

    margin-top: 200px;

}

.caja {

    width: 80px;
    height: 80px;
    float: left;
    border: solid 2px;
    margin-right: 15px;

}

.icono {

    font-size: 30px;
    margin-top: 20px;

}

.color {

    width: 100%;
    height: 100%;
    text-align: center;

}

#imagen {

    width: 100px;
    height: 100px;

}